<h2>Edit Listing</h2>
<div class="container padded">

  <div class="row">
    <div class="col-sm-3"><textarea type="text"></textarea></div>
    <div class="col-sm-9">
  </div>
  <form novalidate ng-submit="submit()" class="form-horizontal">

    <div class="form-group">
      <label class="col-sm-2 control-label">itemID</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{item.itemID}}</p>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-2 control-label">title</label>
      <div class="col-sm-8">
        <div class="input-group">
          <input ng-trim="false" required type="text" class="form-control" ng-model="item.title" />
          <span class="input-group-addon">{{ 80 - item.title.length }}</span>
        </div>
      </div>
    </div>



    <div class="form-group">
      <label class="col-sm-2 control-label">buyItNowPrice</label>
      <div class="col-sm-1">
        <input required type="text" class="form-control" ng-model="item.buyItNowPrice" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">currentPrice</label>
      <div class="col-sm-1">
        <input required type="text" class="form-control" ng-model="item.currentPrice" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">listingDuration</label>
      <div class="col-sm-2">
        <input required type="text" class="form-control" ng-model="item.listingDuration" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">listingType</label>
      <div class="col-sm-2">
        <input required type="text" class="form-control" ng-model="item.listingType" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">stockControl</label>
      <div class="col-sm-1">
        <input required type="text" class="form-control" ng-model="item.stockControl" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">galleryURL</label>
      <div class="col-sm-6">
        <input required type="text" class="form-control" ng-model="item.galleryURL" />
        <!--         <input required type="text" class="form-control" value="{{selection.galleryURL}}"/> -->
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">quantityAvailable</label>
      <div class="col-sm-1">
        <input required type="text" class="form-control" ng-model="item.quantityAvailable" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">status</label>
      <div class="col-sm-1">
        <input required class="form-control" ng-model="item.status" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <button ng-disabled="item.$invalid" class="btn btn-primary" type="button">Save Changes</button>
      </div>
    </div>
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(item)" value="Save" />

    <pre>form = {{selection | json}}</pre>
    <pre>master = {{master | json}}</pre>
  </form>


</div>



<form ng-hide="true" novalidate class="simple-form">
  Name:
  <input type="text" ng-model="user.name" />
  <br /> E-mail:
  <input type="email" ng-model="user.email" />
  <br /> Gender:
  <input type="radio" ng-model="user.gender" value="male" />male
  <input type="radio" ng-model="user.gender" value="female" />female
  <br />
  <input type="button" ng-click="reset()" value="Reset" />
  <input type="submit" ng-click="update(user)" value="Save" />
  <pre>form = {{user | json}}</pre>
  <pre>master = {{master | json}}</pre>
</form>


<div class="testing" ng-hide="true">
  <a ui-sref="manage.item.price">click for manage-price</a>
  <a ui-sref="manage.item.quantity">click for manage-quantity</a>
</div>

<div ui-view></div>
