<div class="form-group">
    <label class="col-sm-3 control-label" for="{{for}}">{{label}}</label>
    <div class="col-sm-9" ng-transclude></div>
</div>

<!-- <div class="form-group">
    <label class="col-sm-3 control-label">Condition</label>
    <div class="col-sm-2">
        <div class="input-group">
            <div class="btn-group">
                <label class="btn btn-default" ng-model="conditionModel" btn-radio="'New'">New</label>
                <label class="btn btn-default" ng-model="conditionModel" btn-radio="'Used'">Used</label>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="input-group">
            <p class="form-control-static">Lists a <i>{{conditionModel | lowercase}}</i> item</p>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Cost</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="cost" name="cost2" placeholder="Cost">
    </div>
</div>

<div form-group label="Cost">
    <input type="text" class="form-control" id="cost" name="cost" placeholder="Cost">
</div>
 -->